In [17]:
import pandas as pd
import glob

path = '/Users/sophiehu/Downloads/folder/*.csv'
all_files = glob.glob(path)

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)
    
merged_df = pd.concat(li, axis=0, ignore_index=True)

merged_df.to_csv('/Users/sophiehu/Downloads/covidtweets.csv', index=False)

In [18]:
tweets=pd.read_csv('covidtweets.csv')
tweets

/Users/sophiehu/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,5,16,85) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,gram,counts,covid,191202,162994,coronavirus,183233,224870,297595,288947,...,338424,170023,223328,183891,205017,329716,136428,211307,254575,235019
0,covid 19 cases,7888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,covid 19 pandemic,7312.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,covid 19 vaccine,5349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,positive covid 19,3544.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,worse gets better,2854.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624004,NaN,NaN,NaN,NaN,NaN,ministro,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1326.0
624005,NaN,NaN,NaN,NaN,NaN,hari,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1321.0
624006,NaN,NaN,NaN,NaN,NaN,sem,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1320.0
624007,NaN,NaN,NaN,NaN,NaN,worth,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1319.0
624008,NaN,NaN,NaN,NaN,NaN,lack,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1318.0

In [26]:
import os
import pandas as pd

# Create an empty list to store the dataframes
dfs = []

# Loop through each file in the directory
for filename in os.listdir('/Users/sophiehu/Downloads/folder'):
    # Check if the file ends with '.csv' and contains the string 'April'
    if filename.endswith('.csv') and 'top1000' in filename and 'terms' not in filename:
        # Read the CSV file into a dataframe and append to the list
        df = pd.read_csv('/Users/sophiehu/Downloads/folder/' + filename)
        df['title'] = filename[:-4]  # Add a column for the filename
        dfs.append(df)

# Concatenate the dataframes into a single dataframe
merged_df = pd.concat(dfs, ignore_index=False)

# Write the merged dataframe to a new CSV file
merged_df.to_csv('/Users/sophiehu/Downloads/covid/merged.csv', index=False)

In [27]:
alldf=pd.read_csv('/Users/sophiehu/Downloads/covid/merged.csv')
alldf

                     gram counts                       title
0          covid 19 cases   7888   2020-07-21_top1000bigrams
1       covid 19 pandemic   7312   2020-07-21_top1000bigrams
2        covid 19 vaccine   5349   2020-07-21_top1000bigrams
3       positive covid 19   3544   2020-07-21_top1000bigrams
4       worse gets better   2854   2020-07-21_top1000bigrams
...                   ...    ...                         ...
416001       san raffaele    295  2020-06-01_top1000trigrams
416002          read pass    295  2020-06-01_top1000trigrams
416003    treatment covid    294  2020-06-01_top1000trigrams
416004  casos sospechosos    294  2020-06-01_top1000trigrams
416005    bollywood music    294  2020-06-01_top1000trigrams

[416006 rows x 3 columns]

In [28]:
import os
import csv

# Set the folder path
folder_path = "/Users/sophiehu/Downloads/folder"

# Loop through all CSV files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.csv') and 'top1000terms' in filename:
        csv_file = os.path.join(folder_path, filename)

        # Read the CSV file
        with open(csv_file, 'r') as file:
            reader = csv.reader(file)
            data = list(reader)

        # Add headers to the data
        data.insert(0, ['gram', 'counts'])

        # Write the data back to the CSV file
        with open(csv_file, 'w', newline='') as file:
            writer = csv.writer(file)
            writer.writerows(data)

In [29]:
import os
import pandas as pd

# Create an empty list to store the dataframes
dfs = []

# Loop through each file in the directory
for filename in os.listdir('/Users/sophiehu/Downloads/folder'):
    # Check if the file ends with '.csv' and contains the string 'April'
    if filename.endswith('.csv') and 'top1000' in filename:
        # Read the CSV file into a dataframe and append to the list
        df = pd.read_csv('/Users/sophiehu/Downloads/folder/' + filename)
        df['title'] = filename[:-4]  # Add a column for the filename
        dfs.append(df)

# Concatenate the dataframes into a single dataframe
merged_df = pd.concat(dfs, ignore_index=False)

# Write the merged dataframe to a new CSV file
merged_df.to_csv('/Users/sophiehu/Downloads/covid/merged.csv', index=False)

In [2]:
import pandas as pd
finaldf=pd.read_csv('/Users/sophiehu/Downloads/covid/merged.csv')
finaldf

                     gram counts                      title
0          covid 19 cases   7888  2020-07-21_top1000bigrams
1       covid 19 pandemic   7312  2020-07-21_top1000bigrams
2        covid 19 vaccine   5349  2020-07-21_top1000bigrams
3       positive covid 19   3544  2020-07-21_top1000bigrams
4       worse gets better   2854  2020-07-21_top1000bigrams
...                   ...    ...                        ...
624209           ministro   1326    2020-05-20_top1000terms
624210               hari   1321    2020-05-20_top1000terms
624211                sem   1320    2020-05-20_top1000terms
624212              worth   1319    2020-05-20_top1000terms
624213               lack   1318    2020-05-20_top1000terms

[624214 rows x 3 columns]